/* BELOW 1344px (Small Laptops)  */
@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }
}

@media (max_width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }

  .gallery {
    display: grid;
    gap: 1.6rem;
    grid-template-columns: repeat(2, 1fr);
    padding: 1.6rem;
  }
}

/* BELOW 1200px (Landscape Tablets)  */
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .grid {
    column-gap: 4.8rem;
    -moz-column-gap: 4.8rem;
    row-gap: 6.4rem;
    -moz-row-gap: 6.4rem;
  }

  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }

  .header {
    padding: 0 3.2rem;
  }

  .main-nav-list {
    gap: 3.2rem;
  }

  .hero {
    gap: 4.8rem;
  }

  .testimonials-container {
    padding: 9.6rem 3.2rem;
  }
}

/* BELOW 976px (Tablets)  */
@media (max-width: 61em) {
  html {
    font-size: 50%;
  }

  .hero {
    gap: 6.4rem;
    grid-template-columns: 1fr;
    padding: 0 8rem;
  }

  .hero-img {
    width: 60%;
  }
  .hero-text-box {
    text-align: center;
  }

  .hero-img-box {
    text-align: center;
  }

  .delivered-meals {
    justify-content: center;
    margin-top: 3.2rem;
  }

  .logos img {
    height: 2.4rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .meal-content {
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
  }

  .section-testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    grid-template-columns: repeat(6, 1fr);
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }
  .main-nav {
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0%;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    visibility: hidden;
    width: 100%;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
    visibility: visible;
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  .pricing-plan {
    width: 80%;
  }
}

/* BELOW 776px (Small Tablets)  */
@media (max-width: 48.5em) {
  html {
    font-size: 50%;
  }

  .hero-img {
    width: 70%;
  }

  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: repeat(2, 1fr);
  }

  .diets {
    grid-column: 1 / -1;
    justify-self: center;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
    margin-bottom: 8rem;
  }
  .step-number {
    font-size: 6.2rem;
  }

  .section-hero,
  .section-how,
  .section-meals,
  .section-pricing {
    padding: 7.4rem 0;
  }

  .testimonials-container {
    padding: 8rem 3.2rem;
  }

  .section-cta {
    padding: 4.8rem 0 12.8rem;
  }

  .pricing-plan {
    width: 85%;
  }

  .grid--footer {
    grid-template-columns: repeat(6, 1fr);
  }
  .logo-col,
  .address-col {
    grid-column: span 3;
  }

  .nav-col {
    grid-column: span 2;
    grid-row: 1;
    margin-bottom: 3.2rem;
  }

  .logos img {
    height: 2rem;
  }

  .logo-featured-in {
    height: 2rem;
  }
}

/* BELOW 552px (Mobile)  */
@media (max-width: 34.5em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1rem;
  }

  .section-hero {
    padding: 2.4 rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .logos img {
    height: 1.2rem;
  }

  .logo-featured-in {
    height: 1.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    grid-row: 5;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .testimonials {
    grid-template-columns: 1fr;
  }

  .gallery {
    gap: 1.2rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .pricing-plan {
    width: 100%;
  }

  .pricing-plan--starter,
  .pricing-plan--complete {
    justify-self: center;
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    grid-row: 1;
    height: 32rem;
  }

  .cta-text-box {
    justify-content: center;
    padding: 3.2rem;
  }
}

/* BELOW 360px (Old MobilePhones)  */
@media (max-width: 22.5em) {
  .pricing-plan {
    width: 140%;
  }

  .testimonials-container {
    padding: 3.2rem;
  }

  .gallery {
    gap: 1.2rem;
    grid-template-columns: repeat(3, 1fr);
  }

  .heading-featured-in {
    font-size: 1.2rem;
  }

  .logos img {
    height: 1rem;
  }

  .logo-featured-in {
    height: 1rem;
  }

  .section-hero,
  .section-how,
  .section-meals,
  .section-pricing {
    padding: 6.4rem 0;
  }
}

/**************************************************/
/* Fixing Flexbox 'Gap\ property  for Safari browser*/
/**************************************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-bottom: 4.8rem;
    margin-right: 0;
  }
}
